* {
	font-family: "Hack", monospace;
}

window {
	background-color: #0a1214;
}

#input {
	margin: 5px;
	border-radius: 0px;
	border: none;
	background-color: #121c1e;
	color: #c2d4cf;
}

#inner-box {
	background-color: #0a1214;
}

#outer-box {
	margin: 2px;
	padding: 10px;
	background-color: #0a1214;
}

#scroll {
	margin: 5px;
}

#text {
	padding: 4px;
	color: #c2d4cf;
}

#entry:nth-child(even) {
	background-color: #121c1e;
}

#entry:selected {
	background-color: #1a2e32;
}

#text:selected {
	background: transparent;
	color: #5ec4b0;
}
