general:
  # Commands to run when the WM has started (e.g. to run a script or launch
  # another application). Here we are running a batch script to start Zebar.
  startup_commands: ["shell-exec zebar"]

  # Whether to automatically focus windows underneath the cursor.
  focus_follows_cursor: true

  # Whether to jump the cursor between windows focused by the WM.
  cursor_follows_focus: false

  # Whether to switch back and forth between the previously focused workspace
  # when focusing the current workspace.
  toggle_workspace_on_refocus: false

  # Whether to show floating windows as always on top.
  show_floating_on_top: true

  # Amount to move floating windows by (eg. when using `alt+<hjkl>` on a floating window)
  floating_window_move_amount: "5%"

  # Whether to center new floating windows.
  center_new_floating_windows: true

  # *Strongly* recommended to set to 'false'. Whether to globally enable/disable
  # window transition animations (on minimize, close, etc). Set to 'unchanged'
  # to make no setting changes.
  window_animations: "unchanged"

  cursor_jump:
  # Whether to automatically move the cursor on the specified trigger.
  enabled: true

  # Trigger for cursor jump:
  # - 'monitor_focus': Jump when focus changes between monitors.
  # - 'window_focus': Jump when focus changes between windows.
  trigger: "monitor_focus"

gaps:
  # Gap between adjacent windows.
  inner_gap: "0x"
  # Default inner_gap
  # inner_gap: "5x"

  # Gap between windows and the screen edge.
  outer_gap:
    top: "40px"
    right: "0px"
    bottom: "0px"
    left: "0px"
    # Default outer_gap
    # top: "60px"
    # right: "20px"
    # bottom: "20px"
    # left: "20px"

# Highlight active/inactive windows with a colored border.
# ** Exclusive to Windows 11 due to API limitations.
window_effects:
  # Visual effects to apply to the focused window.
  focused_window:
    # Highlight the window with a colored border.
    # ** Exclusive to Windows 11 due to API limitations.
    border:
      enabled: true
      color: "#8dbcff"

  # Visual effects to apply to non-focused windows.
  other_windows:
    border:
      enabled: true
      color: "#a1a1a1"

window_behavior:
  # New windows are created in this state whenever possible.
  # Allowed values: 'tiling', 'floating'.
  initial_state: "tiling"

  # Sets the default options for when a new window is created. This also
  # changes the defaults for when the state change commands, like
  # `set-floating`, are used without any flags.
  state_defaults:
    floating:
      # Whether to center floating windows by default.
      centered: true

      # Whether to show floating windows as always on top.
      shown_on_top: true

    fullscreen:
      # Maximize the window if possible. If the window doesn't have a
      # maximize button, then it'll be fullscreen'ed normally instead.
      maximized: true

      # Whether to show fullscreen windows as always on top.
      shown_on_top: true

workspaces:
  - name: "1"
  - name: "2"
  - name: "3"
  - name: "4"
  - name: "5"
  - name: "6"
  - name: "7"
  - name: "8"
  - name: "9"

window_rules:
  - commands: ["ignore"]
    match:
      # Ignores any Zebar windows.
      - window_process: { equals: "zebar" }

      # Ignores picture-in-picture windows for browsers.
      - window_title: { regex: "[Pp]icture.in.[Pp]icture" }
        window_class: { regex: "Chrome_WidgetWin_1|MozillaDialogClass" }

      # Ignore rules for various 3rd-party apps.
      - window_process: { equals: "PowerToys.PowerAccent" }
      - window_process: { equals: "Lively" }
        window_class: { regex: "HwndWrapper*" }

binding_modes:
  - name: "resize"
    keybindings:
      # Resize focused window by a percentage or pixel amount.
      - commands: ["resize --width -2%"]
        bindings: ["H", "Left"]
      - commands: ["resize --width +2%"]
        bindings: ["L", "Right"]
      - commands: ["resize --height +2%"]
        bindings: ["K", "Up"]
      - commands: ["resize --height -2%"]
        bindings: ["J", "Down"]
      # Press enter/escape to return to default keybindings.
      - commands: ["wm-disable-binding-mode --name resize"]
        bindings: ["Escape", "Enter"]

keybindings:
  # Shift focus in a given direction.
  - commands: ["focus --direction left"]
    bindings: ["Alt+H"]
    # bindings: ["Alt+H", "Alt+Left"]
  - commands: ["focus --direction right"]
    bindings: ["Alt+L"]
    # bindings: ["Alt+L", "Alt+Right"]
  - commands: ["focus --direction up"]
    bindings: ["Alt+K"]
    # bindings: ["Alt+K", "Alt+Up"]
  - commands: ["focus --direction down"]
    bindings: ["Alt+J"]
    # bindings: ["Alt+J", "Alt+Down"]

  # Move focused window in a given direction.
  - commands: ["move --direction left"]
    bindings: ["Alt+Shift+H", "Alt+Shift+Left"]
  - commands: ["move --direction right"]
    bindings: ["Alt+Shift+L", "Alt+Shift+Right"]
  - commands: ["move --direction up"]
    bindings: ["Alt+Shift+K", "Alt+Shift+Up"]
  - commands: ["move --direction down"]
    bindings: ["Alt+Shift+J", "Alt+Shift+Down"]

  # Resize focused window by a percentage or pixel amount.
  - commands: ["resize --width -2%"]
    bindings: ["Alt+U"]
  - commands: ["resize --width +2%"]
    bindings: ["Alt+P"]
  - commands: ["resize --height +2%"]
    bindings: ["Alt+O"]
  - commands: ["resize --height -2%"]
    bindings: ["Alt+I"]

  # As an alternative to the resize keybindings above, resize mode enables resizing via
  # HJKL or arrow keys. The binding mode is defined above with the name "resize".
  - commands: ["wm-enable-binding-mode --name resize"]
    bindings: ["Alt+R"]

  # Change tiling direction. This determines where new tiling windows will be inserted.
  - commands: ["toggle-tiling-direction"]
    bindings: ["Alt+V"]

  # Change focus between floating / tiling windows.
  - commands: ["wm-cycle-focus"]
    bindings: ["Alt+Space"]

  # Change the focused window to be floating / tiling.
  - commands: ["toggle-floating --centered"]
    bindings: ["Alt+Shift+Space"]

  # Change the focused window to be maximized / unmaximized.
  - commands: ["toggle-fullscreen"]
    bindings: ["Alt+F"]

  # Minimize focused window.
  - commands: ["toggle-minimized"]
    bindings: ["Alt+M"]

  # Close focused window.
  - commands: ["close"]
    bindings: ["Alt+Q"]

  # Kill GlazeWM process safely.
  - commands: ["wm-exit"]
    bindings: ["Alt+Shift+E"]

  # Re-evaluate configuration file.
  - commands: ["wm-reload-config"]
    bindings: ["Alt+Shift+R"]

  # Launch CMD terminal (alternatively `exec wt` or `exec %ProgramFiles%/Git/git-bash.exe`
  # to start Windows Terminal and Git Bash respectively.
  - commands: ["shell-exec wt"]
    bindings: ["Alt+Enter"]
  # Open Edge
  - commands: ["shell-exec %ProgramFiles(x86)%\\Microsoft\\Edge\\Application\\msedge.exe"]
    bindings: ["Alt+B"]
  # Open vscode
  - commands: ["shell-exec %localappdata%\\Programs\\Microsoft VS Code\\Code.exe"]
    bindings: ["Alt+C"]
  # Shutdown machine
  - commands: ["shell-exec shutdown.exe /s /t 0"]
    bindings: ["Ctrl+Alt+Shift+Escape"]
  # Restart machine
  - commands: ["shell-exec shutdown.exe /r /t 0"]
    bindings: ["Ctrl+Alt+Shift+R"]

  # Focus the workspace that last had focus.
  # - commands: ["focus --recent-workspace"]
  #   bindings: ["alt+d"]

  # Focus the next/previous workspace defined in `workspaces` config.
  - commands: ["focus --next-workspace"]
    bindings: ["alt+s"]
  - commands: ["focus --prev-workspace"]
    bindings: ["alt+a"]

  # Change focus to a workspace defined in `workspaces` config.
  - commands: ["focus --workspace 1"]
    bindings: ["alt+1"]
  - commands: ["focus --workspace 2"]
    bindings: ["alt+2"]
  - commands: ["focus --workspace 3"]
    bindings: ["alt+3"]
  - commands: ["focus --workspace 4"]
    bindings: ["alt+4"]
  - commands: ["focus --workspace 5"]
    bindings: ["alt+5"]
  - commands: ["focus --workspace 6"]
    bindings: ["alt+6"]
  - commands: ["focus --workspace 7"]
    bindings: ["alt+7"]
  - commands: ["focus --workspace 8"]
    bindings: ["alt+8"]
  - commands: ["focus --workspace 9"]
    bindings: ["alt+9"]

  # Move focused workspace to a monitor in a given direction.
  # - command: "move workspace left"
  #   bindings: ["Alt+A"]
  # - command: "move workspace right"
  #   bindings: ["Alt+X"]
  # - command: "move workspace up"
  #   bindings: ["Alt+D"]
  # - command: "move workspace down"
  #   bindings: ["Alt+S"]

  # Move focused window to a workspace defined in `workspaces` config.
  - commands: ["move --workspace 1", "focus --workspace 1"]
    bindings: ["alt+shift+1"]
  - commands: ["move --workspace 2", "focus --workspace 2"]
    bindings: ["alt+shift+2"]
  - commands: ["move --workspace 3", "focus --workspace 3"]
    bindings: ["alt+shift+3"]
  - commands: ["move --workspace 4", "focus --workspace 4"]
    bindings: ["alt+shift+4"]
  - commands: ["move --workspace 5", "focus --workspace 5"]
    bindings: ["alt+shift+5"]
  - commands: ["move --workspace 6", "focus --workspace 6"]
    bindings: ["alt+shift+6"]
  - commands: ["move --workspace 7", "focus --workspace 7"]
    bindings: ["alt+shift+7"]
  - commands: ["move --workspace 8", "focus --workspace 8"]
    bindings: ["alt+shift+8"]
  - commands: ["move --workspace 9", "focus --workspace 9"]
    bindings: ["alt+shift+9"]
